{% extends "student_app/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "student_app/student_detail.css" %}">

<div class="detail-wrapper">

    <div class="detail-card">

        <h2>Student Details</h2>

        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Field</th>
                    <th>Information</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>Name</td>
                    <td>{{ student.name }}</td>
                </tr>

                <tr>
                    <td>Age</td>
                    <td>{{ student.age }}</td>
                </tr>

                <tr>
                    <td>Email</td>
                    <td>{{ student.email }}</td>
                </tr>

                <tr>
                    <td>Marks</td>
                    <td>{{ student.marks }}</td>
                </tr>

            </tbody>

        </table>

        <div class="button-area">

            <a href="{% url 'student_list' %}" class="back-btn">
                ← Back to Students
            </a>

        </div>

    </div>

</div>

{% endblock %}

{% comment %} {% extends "student_app/base.html" %}
{% block content %}
<h2>{{ student.name }}</h2>
<h2>{{ student.age }}</h2>
<h2>{{ student.subject }}</h2>
<h2>{{ student.marks }}</h2>
<a href="{% url 'student_list' %}" class="btn btn-secondary">
    <button>Back button</button>
</a>
{% endblock %} {% endcomment %}
