{% extends "student_app/base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'student_app/student_list.css' %}">

<div class="student-container">

{% for student in student_list %}

<div class="student-card">

    <div class="counter">
        {{ forloop.counter }}
    </div>

    <div class="info">

        <div class="item">
            <small>Name</small>
            <h4>{{ student.name }}</h4>
        </div>

        <div class="item">
            <small>Age</small>
            <h4>{{ student.age }}</h4>
        </div>

        <div class="item">
            <small>Marks</small>
            <h4>{{ student.marks }}</h4>
        </div>

        <div class="item">
            <small>Email</small>
            <h4>{{ student.email }}</h4>
        </div>

        <div class="item">
            <small>Enrollment Date</small>
            <h4>{{ student.enrollment_date }}</h4>
        </div>

        <div class="item">

            <small>Actions</small>

                <div class="actions">

                    <a href="{% url 'detail_student' student.pk %}" class="btn btn-info text-dark">
                        View
                    </a>

                    {% if request.user == student.user %}
                        <a href="{% url 'update_student' student.pk %}" class="btn btn-warning">
                            Edit
                        </a>

                        <a href="{% url 'delete_student' student.pk %}" class="btn btn-danger">
                            Delete
                        </a>
                    {% else %}
                        <span class="btn-placeholder"></span>
                        <span class="btn-placeholder"></span>
                    {% endif %}

                </div>

        </div>

    </div>

</div>

{% endfor %}

</div>

{% endblock %}
